/ConsoleApplication1/.vs
/ConsoleApplication1/ConsoleApplication1/bin/*
/ConsoleApplication1/ConsoleApplication1/obj
/ConsoleApplication1/ConsoleApplication1/bin
/Scripts
/Git Bash.lnk
/ShoppingCartSolution/packages
/ShoppingCartSolution/ShoppingCartExercise/bin
/ShoppingCartSolution/ShoppingCartExercise/Content
/ShoppingCartSolution/ShoppingCartExercise/Data
/ShoppingCartSolution/ShoppingCartExercise/fonts
/ShoppingCartSolution/ShoppingCartExercise/obj
/ShoppingCartSolution
/ConsoleApplication1
