@model ShoppingCartExercise.Models.InventoryModel


@{
    if (Model != null)
    {
      var enumItems = Model.ItemList.GetEnumerator();
      while (enumItems.MoveNext())
      {
         <div class="col-md-4 col-sm-4 col-lg-4 item-column" style="">
           @Html.Partial("_InventoryView", enumItems.Current)
        </div>
      }
    }else
    {
        <h1>INVENTORY NOT FOUND!</h1>
    }

}

