@model ShoppingCartExercise.Models.InventoryModel


@{
    if (Model != null)
    {
      var enumItems = Model.Items.GetEnumerator();
      while (enumItems.MoveNext())
      {
         <div class="col-md-4 col-sm-4 col-lg-4 item-column" style="">
            enumItems.Current.StoredItem.ItemName;
        </div>
        }
        <script>
                  $(".myLink").click(function (e) {
                      e.preventDefault();
                      $.ajax({

                         url: $(this).attr("href"), // comma here instead of semicolon
                         success: function () {
                            alert("Value Added");  // or any other indication if you want to show
                         }

                      });
                  });
        </script>
    }
    else
    {
        <h1>INVENTORY NOT FOUND!</h1>
    }

}

