@model ShoppingCartExercise.Models.InventoryModel

@{
    ViewBag.Title = "Inventory";
}


<h2>Experimental Inventory</h2>
@Ajax.ActionLink("Inventory 1", "ItemViewer", new { id = 1 }, new AjaxOptions { UpdateTargetId = "inv", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
@Ajax.ActionLink("Inventory 2", "ItemViewer", new { id = 2 }, new AjaxOptions { UpdateTargetId = "inv", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })

<div class="inventory" style="margin:0 auto;width:100%;max-width:100%;">
    <div id="inv">TEST</div>
</div>

