@model ShoppingCartExercise.Models.InventoryModel

@{
    ViewBag.Title = "Inventory";
}

<h2>Experimental Inventory</h2>
        <div class="inventory" style="margin-top:40px;width:100%;max-width:100%;">
            <div class="row" style="margin:auto;">
                <div id="inv">@Html.Action("GetInventory")</div>
            </div>
        </div>

