@model ShoppingCartExercise.Models.InventoryModel

@{
    ViewBag.Title = "Inventory";
}

<h2>Experimental Inventory</h2>
@Ajax.ActionLink("Inventory 1", "GetInventory", new { id = 1, type="main" }, new AjaxOptions { UpdateTargetId = "inv", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new {@class = "inventory-button"})
@Ajax.ActionLink("Inventory 2", "GetInventory", new { id = 1, type = "user", user_id = 1 }, new AjaxOptions { UpdateTargetId = "inv", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "inventory-button" })

        <div class="inventory" style="margin-top:40px;width:100%;max-width:100%;">
            <div class="row" style="margin:auto;">
                <div id="inv">@Html.Partial("_InventoryContainer", Model)</div>
            </div>
        </div>

