@model IEnumerable<ShoppingCartExercise.Models.ItemModel>
@{
    ViewBag.Title = "ShoppingCartPage";
}

<h2>ShoppingCartPage</h2>

@{
    <div class="cart-container" style="width:500px;margin:auto;">
        @foreach (var i in Model)
        {
        <div style="height:210px;width:640px;background-color:aliceblue;margin-top:20px;padding:10px;">
            <div id="image" style="background-color:white;width:190px; height:190px;display:inline-block">
                <img src="~/Content/Images/@i.ItemInfo.ImagePath" style="height:100%;width:100%;" />
            </div>
            <div style="display:inline-block;margin-left:10px;">
            <p style="font-size:16px;font-weight:bold;">@i.ItemInfo.Name @@@i.InvRef.MyInventory.InventoryName</p>
            <p>Price:@i.Price</p>
            <p>Stock:@i.Stock</p>
            </div>
        </div>

        
        }
    </div>
}
